/*reset do CSS */
*{
    margin :0px;
    padding:0px;
    box-sizing: border-box;
}

/* configurações  gerais*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(138, 211, 116);
    color: rgb(0, 0, 0);
    padding:20px;
    text-align: center;
}
main{
    background-color: rgba(19, 63, 48, 0.26);
    flex: 1;
    padding: 48px 38px 48px;
   width: 100%;
}
about-section{
    display: block;
    background-color: rgb(6, 129, 88);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
}


#titulo-sobre-mim {
    font-size: 40px;
     border-bottom: 2px solid black;
     margin-bottom: 20px;
    
}
.texto-sobre-mim {
    font-size: 30px;
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
}
li {
    background-color: azure;
    padding: 12px;
    border-left: 4px solid black;
    font-size: 16px;    
    min-width: 250px;
}
li:hover{
        background-color: rgb(206, 255, 255);
        transform: translateX(5px);
        transition: all 0.3s ease;
}
contact {
    display: block;
    background-color: rgb(6, 129, 88);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-top: 40px;
}
contact h2{
    margin-bottom: 8px;
    font-size: 30px;
    text-align: center;
}
contact p{
    text-align: center;
    font-size: 22px;

}
contact a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    display: inline-block;

}
contact a:hover{
    background-color: blueviolet;
    color: aliceblue;
    transform: translateY(-2px);
}
footer{
    background-color: rgb(138, 211, 116);
    color: black;
    text-align: center;
    padding: 2rem;
    width: 100%;
}
footer p{
    font-size: 2rem;
}